<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="nap">
      <h2 data-cy="napDetailsHeading"><span jhiTranslate="gatewayApp.babyprofileNap.detail.title">Nap</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ nap.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.babyprofileNap.start">Start</span></dt>
        <dd>
          <span>{{ nap.start | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.babyprofileNap.end">End</span></dt>
        <dd>
          <span>{{ nap.end | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.babyprofileNap.humor">Humor</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.Humor.' + nap.humor }}">{{ nap.humor }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.babyprofileNap.place">Place</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.Place.' + nap.place }}">{{ nap.place }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.babyprofileNap.babyProfile">Baby Profile</span></dt>
        <dd>
          <div *ngIf="nap.babyProfile">
            <a [routerLink]="['/baby-profile', nap.babyProfile?.id, 'view']">{{ nap.babyProfile?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/nap', nap.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
