<div>
  <h2 id="page-heading" data-cy="BreastFeedHeading">
    <span jhiTranslate="gatewayApp.profileBreastFeed.home.title">Breast Feeds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.profileBreastFeed.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-breast-feed"
        [routerLink]="['/breast-feed/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.profileBreastFeed.home.createLabel"> Create a new Breast Feed </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="breastFeeds?.length === 0">
    <span jhiTranslate="gatewayApp.profileBreastFeed.home.notFound">No breastFeeds found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="breastFeeds && breastFeeds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileBreastFeed.start">Start</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileBreastFeed.end">End</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileBreastFeed.pain">Pain</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileBreastFeed.profile">Profile</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let breastFeed of breastFeeds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/breast-feed', breastFeed.id, 'view']">{{ breastFeed.id }}</a>
          </td>
          <td>{{ breastFeed.start | formatMediumDatetime }}</td>
          <td>{{ breastFeed.end | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'gatewayApp.Pain.' + breastFeed.pain }}">{{ breastFeed.pain }}</td>
          <td>
            <div *ngIf="breastFeed.profile">
              <a [routerLink]="['/profile', breastFeed.profile?.id, 'view']">{{ breastFeed.profile?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/breast-feed', breastFeed.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/breast-feed', breastFeed.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(breastFeed)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
