<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-humor-history-heading"
        data-cy="HumorHistoryCreateUpdateHeading"
        jhiTranslate="gatewayApp.profileHumorHistory.home.createOrEditLabel"
      >
        Create or edit a Humor History
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.profileHumorHistory.humor" for="field_humor">Humor</label>
          <select class="form-control" name="humor" formControlName="humor" id="field_humor" data-cy="humor">
            <option [ngValue]="null">{{ 'gatewayApp.Humor.null' | translate }}</option>
            <option value="ANGRY">{{ 'gatewayApp.Humor.ANGRY' | translate }}</option>
            <option value="SAD">{{ 'gatewayApp.Humor.SAD' | translate }}</option>
            <option value="CALM">{{ 'gatewayApp.Humor.CALM' | translate }}</option>
            <option value="HAPPY">{{ 'gatewayApp.Humor.HAPPY' | translate }}</option>
            <option value="EXCITED">{{ 'gatewayApp.Humor.EXCITED' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.profileHumorHistory.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.profileHumorHistory.profile" for="field_profile">Profile</label>
          <select class="form-control" id="field_profile" data-cy="profile" name="profile" formControlName="profile">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="profileOption.id === editForm.get('profile')!.value?.id ? editForm.get('profile')!.value : profileOption"
              *ngFor="let profileOption of profilesSharedCollection; trackBy: trackProfileById"
            >
              {{ profileOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
