<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="weight">
      <h2 data-cy="weightDetailsHeading"><span jhiTranslate="gatewayApp.profileWeight.detail.title">Weight</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ weight.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.profileWeight.value">Value</span></dt>
        <dd>
          <span>{{ weight.value }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.profileWeight.date">Date</span></dt>
        <dd>
          <span>{{ weight.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.profileWeight.idealWight">Ideal Wight</span></dt>
        <dd>
          <span>{{ weight.idealWight }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.profileWeight.profile">Profile</span></dt>
        <dd>
          <div *ngIf="weight.profile">
            <a [routerLink]="['/profile', weight.profile?.id, 'view']">{{ weight.profile?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/weight', weight.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
