<div>
  <h2 id="page-heading" data-cy="WeightHeading">
    <span jhiTranslate="gatewayApp.profileWeight.home.title">Weights</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.profileWeight.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-weight"
        [routerLink]="['/weight/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.profileWeight.home.createLabel"> Create a new Weight </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="weights?.length === 0">
    <span jhiTranslate="gatewayApp.profileWeight.home.notFound">No weights found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="weights && weights.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileWeight.value">Value</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileWeight.date">Date</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileWeight.idealWight">Ideal Wight</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileWeight.profile">Profile</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weight of weights; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/weight', weight.id, 'view']">{{ weight.id }}</a>
          </td>
          <td>{{ weight.value }}</td>
          <td>{{ weight.date | formatMediumDate }}</td>
          <td>{{ weight.idealWight }}</td>
          <td>
            <div *ngIf="weight.profile">
              <a [routerLink]="['/profile', weight.profile?.id, 'view']">{{ weight.profile?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/weight', weight.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/weight', weight.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(weight)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
