<div class="row justify-content-center">
  <div class="col-md-8 col-sm-12">
    <div *ngIf="babyProfile">
      <h2 data-cy="babyProfileDetailsHeading"><span jhiTranslate="gatewayApp.babyBabyProfile.detail.title">Baby Profile</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ babyProfile.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.babyBabyProfile.name">Name</span></dt>
        <dd>
          <span>{{ babyProfile.name }}</span>
        </dd>
        <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="gatewayApp.babyBabyProfile.picture">Picture</span></dt>
        <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <div *ngIf="babyProfile.picture">
            <a (click)="openFile(babyProfile.picture, babyProfile.pictureContentType)">
              <img
                [src]="'data:' + babyProfile.pictureContentType + ';base64,' + babyProfile.picture"
                style="max-width: 100%"
                alt="babyProfile image"
              />
            </a>
            {{ babyProfile.pictureContentType }}, {{ byteSize(babyProfile.picture) }}
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.babyBabyProfile.birthday">Birthday</span></dt>
        <dd>
          <span>{{ babyProfile.birthday | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.babyBabyProfile.sign">Sign</span></dt>
        <dd>
          <span>{{ babyProfile.sign }}</span>
        </dd>
        <dt class="align-self-center"><span jhiTranslate="gatewayApp.babyBabyProfile.main">Main</span></dt>
        <dd>
          <fa-icon
            [icon]="babyProfile.main ? 'check' : 'window-minimize'"
            aria-hidden="true"
            class="{{ babyProfile.main ? 'text-success' : 'text-muted' }}"
          ></fa-icon>
        </dd>
        <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="gatewayApp.babyBabyProfile.userId">User Id</span></dt>
        <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <span>{{ babyProfile.userId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/baby-profile', babyProfile.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
