<div>
  <h2 id="page-heading" data-cy="ProfileHeading">
    <span jhiTranslate="gatewayApp.profileProfile.home.title">Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.profileProfile.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-profile"
        [routerLink]="['/profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.profileProfile.home.createLabel"> Create a new Profile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="profiles?.length === 0">
    <span jhiTranslate="gatewayApp.profileProfile.home.notFound">No profiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="profiles && profiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileProfile.name">Name</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileProfile.picture">Picture</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileProfile.birthday">Birthday</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileProfile.sign">Sign</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.profileProfile.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of profiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/profile', profile.id, 'view']">{{ profile.id }}</a>
          </td>
          <td>{{ profile.name }}</td>
          <td>
            <a *ngIf="profile.picture" (click)="openFile(profile.picture, profile.pictureContentType)" jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="profile.picture">{{ profile.pictureContentType }}, {{ byteSize(profile.picture) }}</span>
          </td>
          <td>{{ profile.birthday | formatMediumDatetime }}</td>
          <td>{{ profile.sign }}</td>
          <td>
            {{ profile.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/profile', profile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/profile', profile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(profile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
