<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="breastFeed">
      <h2 data-cy="breastFeedDetailsHeading"><span jhiTranslate="gatewayApp.profileBreastFeed.detail.title">Breast Feed</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ breastFeed.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.profileBreastFeed.start">Start</span></dt>
        <dd>
          <span>{{ breastFeed.start | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.profileBreastFeed.end">End</span></dt>
        <dd>
          <span>{{ breastFeed.end | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.profileBreastFeed.pain">Pain</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gatewayApp.Pain.' + breastFeed.pain }}">{{ breastFeed.pain }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.profileBreastFeed.profile">Profile</span></dt>
        <dd>
          <div *ngIf="breastFeed.profile">
            <a [routerLink]="['/profile', breastFeed.profile?.id, 'view']">{{ breastFeed.profile?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/breast-feed', breastFeed.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
